.card{
    background-image: url(../pics/016.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-body{
    background: white;
    opacity:0.5;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

img{
    background-image: url(../pics/018.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
}


.columnn{
    float: left;
    width: 33.3%;

}
