.card{
    background-image: url(../pics/016.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-body{
    
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33.3% 66.6%;
    
}

img{
    background-image: url(../pics/018.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
}


.columnn{
    float: left;
    width: 33.3%;

}




.portfolio-item{
    max-width: 225px;
    height:180px;
    border: 5px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
}
