.body{
    background-image: url(../pics/016.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
}
.card-body{
    
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    
}

img{
    background-image: url(../pics/018.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
}


.columnn{
    float: left;
    width: 33.3%;

}




