 .portfolio-item{
    color: #2B3D41;
    background: whitesmoke;
   
    border-radius: 5px;
    height: 250px;
    width: 250px;
    
    border-style: solid;
    border-color: #83A0A0;
   
    
    
    margin: 5px;
    
}

.portfolio-containers{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    position: relative; 
    padding: 5px;
   
   
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    /* width: 80%; */
    overflow: auto;
    color: indianred;
   
    
    
}

/* .card-image-top{
    background-image: url(../components/pics/016.jpg);
} */
.columnn{
    float: left;
    width: 33.3%;

}

.icon-bar {
  
}

