/* .portfolio-item{
    width: 25%;
    display: inline;
} */

.portfolio-containers{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    position: relative;
    padding: 5px;
    /* width: 80%; */
}

/* .card-image-top{
    background-image: url(../components/pics/016.jpg);
} */
.columnn{
    float: left;
    width: 33.3%;

}

