.footer {
    
        height: 95px;
        width: 100%;
        background-image: url(../pics/SpoonGraphics-Topographic-Map-3.png);
    
    
}

.social{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  

}